<div class="index_title">待辦事項</div>
<div id="new_item">
<%= link_to '新增待辦事項', new_todo_path, class: "btn btn-default btn-primary" %>
</div>
<h1> </h1>
<h1> </h1>
<% if true %> 
<table class="table table-striped">
   <thead>
    <tr>
      <th>確認</th>
      <th>項目</th>
      <th>內容</th>
      <th>編輯</th>
      <th>截止日</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
    
  <% @todos.each do |todo|%>
    <tr>
      <td><%= check_box_tag :item_done, true, todo.done, data: { url: item_done_todo_path(todo), 
                method: :post, 
                remote: true }%></td>
      
      
      <td><%= todo.title %></td>
      <td><%= link_to "顯示", todo_path(todo)%></td>
      <td><%= link_to "編輯", edit_todo_path(todo) %></td>
      <td><%= todo.due_date.to_s.slice(0..9) %></td>

      <% if todo.due_date >= Date.today %>
        <td><%= link_to '刪除', todo_path(todo) ,method: :delete , data: {confirm:'are you sure?'}%></td>
      <% else %>
        <td> - </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>


<% end %>